.hero {
  width: 100%;
  height: 88vh;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
}
.videoBG {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contentHero {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.contentHero h1 {
  font-size: 4.5rem;
  margin-bottom: 3rem;
}

.title {
  font-size: 1.7rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  color: #0c62fb;
  margin-top: 10px;
}
.textcontent {
  font-size: 2.3rem;
  line-height: 2.8rem;
  padding-bottom: 2.7rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.sectioncontent {
  width: 100%;
  padding-top: 150px;
}
.bluesection {
  background-color: #00001E;
  width: 100%;
  margin-top: 40px;
  padding-top: 80px;
}
.bluesection h1{
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  color: #fff;
  margin-top: 10px;
}
.bluesection h2 {
  color: #fff;
  font-size: 2.3rem;
  line-height: 2.8rem;
  padding-bottom: 2.7rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
}
.bluesection p {
  border-left: 1px solid #fff;
  color: #fff;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 15px;
  padding-bottom: 2.7rem;

}
.bluesection .link {
  text-decoration: none;
  color: #6c8fff;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 10px;
}
.bluesection .link:hover {
  color: #a3bfff;
}
.blueimagewrapper{
  padding: 0px 30px;
  margin-bottom: 10px;

}
.greysection {
  width: 100%;
  /* height: 300px; */
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f2f3f4;
}
.techcontent {
  width: 100%;
  height: 100%;
}
.whoWeAreContent {
  padding-top: 10rem;
  padding-bottom: 1rem;
  display: block;
  position: relative;
}
.subTitle {
  font-size: 4rem;
  line-height: 4.5rem;
  padding-bottom: 3.2rem;
}
.subTitle2 {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 4.5rem;
  padding-bottom: 3.2rem;
}
.aText {
  font-size: 2rem;
  line-height: 3.4rem;
  padding-bottom: 5rem;
  color: #6f6f6f;
}
.whoWeAreImageSpan {
  opacity: 1;
  visibility: visible;
}
.whoWeAreImages1 {
  position: absolute;
  right: 16px;
  top: 2;
}
.whoWeAreImages2 {
  position: absolute;
  left: 156px;
  bottom: 50px;
}
.imgWrapper {
  width: 350px;
  height: auto;
}
.mapcontact{
  width: 100%;
  height: 600px;
  padding-top: 100px;
  padding-bottom: 50px;
}




.animated.slideInLeft {
  animation: slideInLeft 2.5s ease both;
}
.animated.slideInRight {
  animation: slideInRight 2.5s ease both;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .bluesection p {
    font-size: 0.8rem;
    padding: 5px;
  
  }
  .bluesection .link {
    font-size: 0.8rem;
    line-height: 2rem;
    padding: 1px;
  }
}

@media screen and (max-width: 569px) {
  
}

@media screen and (max-width: 410px) {
   .hero {
    width: 100%;
    height: 100vh;
  }
  
  .contentHero h1 {
    font-size: 3.2rem;
    margin-bottom: 3rem;
  } 
  .contentHero{
    padding: 30px;
  } 
}